@font-face {
  font-family: "Bookman";
  src: url(./fonts/BookmanOldStyle.ttc);
}

.App {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Bookman";
  color: black;
  box-sizing: border-box;
}

.container {
  box-sizing: content-box;
}
